Repository opus-codium/puppet-odoo, pull requests merged in 2021-01, with the labels that each got.

#20 Add REFERENCE.md
  REFERENCE.md
Labels: enhancement

#21 Sync with modulesync 2.1.0
  .gitattributes
  Rakefile
Labels: skip-changelog

#22 Open file for writing
  files/database-backup.py
Labels: bug

#23 Bump version to 1.0.1
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog
